# generated
*.ps1
*.sh
*.scm
*.py
*.html
*.html~
*.css
*.yaml
*.gz
*.sql
*.sqlite
*.js
.torrc
shepherd.log
searx.yml
.orgids
package-quickstart.el
package-quickstart.elc
# directories
/.local/
/gh-pages/
/eln-cache/
/elpa/
