@import "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css";

@keyframes move-stars {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

html {
  min-height: 100vh;
  background:#000 url('stars.png') repeat top center;
  animation:move-stars 200s linear infinite;
}
